@import "tailwind.scss";

.card {
  @apply bg-slate-100 border border-slate-200 rounded-lg px-4 py-6 text-base text-center;

  img {
    max-width: 128px;
    @apply mx-auto mb-4 mt-0;
  }

  p,
  h3 {
    @apply my-0;
  }
}

.slogan {
  @apply text-3xl md:text-5xl italic;
}
