<iframe
  src="{{ src or 'https://dailytool.substack.com/embed' }}"
  width="{{ width or '100%' }}"
  height="{{ height or '320px' }}"
  style="border:1px solid #dee2e6; background:#f8fafc; margin: 0px; padding: 0px;"
  frameborder="0"
  scrolling="no">
</iframe>